* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #727272;
}

/* Top Section containing Name/Title and Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0px 1% 0px;
}

h1 {
    padding: 1% 1% 1% 10%;
    font-size: 64px;
    background-color: blue;
    box-shadow: 5px 5px 5px black;
    border-radius: 0px 30px 30px 0px;
    color: #00ffff;
    font-family: cursive;
}

h2 {
    flex: 1;
    font-size: 32px;
    padding: 2%;
}

h3 {
    font-size: 30px;
}

nav {
    background-color: #000000;
    padding: 1%;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 5px 5px 5px #0000ff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
}

nav a {
    color: #00ffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #00ffff;
    border-radius: 5px;
    color: #000000;
}

/* Background image */
.hero {
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-image: url("../images/istockphoto-923806816-612x612.jpg");
    background-size: 100%;
    border: 6px solid #a3a3a3;
}

main {
    display: flex;
    flex-wrap: wrap;
}

/* Start of About Me */
.article {
    display: inline-block;
    flex-wrap: wrap;
}

.article h2 {
    width: 30%;
}

.article p {
    margin: 2%;
    font-size: 20px;
    line-height: 1.5;
}

/* Start of Work article with links/images*/
.article2 h2 {

}

section {
    flex: 3;
}

/* card/cardTop refer to the containers for both image and text*/
.cardTop {
    position: relative;
}

.card {
    position: relative;
    padding: 10px;
}

/* h3 is the text within the pictures */
.cardTop h3 {
    position: absolute;
    bottom: 70%;
    left: 1%;
    background-color: #00ffff;
}

.card h3 {
    position: absolute;
    bottom: 20%;
    left: 2%;
    background-color: #00ffff;
}

.cardTop img {
    width: 700px;
    min-width: 400px;
    border: double thick #00ffff;
}

.card img {
    width: 300px;
    min-width: 200px;
    border: double thick #00ffff;
}

.footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    border-top: double thick #00ffff;
}

.footer h4 {
    justify-content: left;
    left: 0;
    font-size: 32px;
    padding-left: 2%;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.footer a {
    color: #00ffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
    }
}